.text-center {
  text-align: center;
}

.display-table {
  display: table;
}

.header-margin {
  margin: 20px;
}

.card-footer {
  padding: 10px;
}

.grounded {
  text-align: center;
}

.yoda-img {
  height: 300px;
  width: 300px;
}

.index-img {
  height: 300px;
  width: 300px;
}

.follow-directions {
  font-size: 40px;
  color: red;
}

.input-search {
  background-image: url("/assets/images/Screen\ Shot\ 2020-05-09\ at\ 11.35.46\ AM.png");
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
}

.liquor-body {
  background-color: #C9A207;
  min-height: 900px;
  padding-bottom: 50px;
}

.liquor-section {
  background-color: #4C494F;
  padding-bottom: 25px;
}

.cocktail-div {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: #C9A207;
  color: black;
}

.instruction-div {
  padding: 10px;
  color: white;
}

.liquor-center {
  margin: 10px;
  text-align: center;
}

.label-text {
  color: white;
}

.search-div {
  margin-left: 20%;
  margin-right: 50%;
}

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #E4E9EA;
  height: 50px;
}
