.text-center {
  text-align: center;
}

.display-table {
  display: table;
}

.header-margin {
  margin: 20px;
}

.card-footer {
  padding: 10px;
}

.grounded {
  text-align: center;
}

.yoda-img {
  height: 300px;
  width: 300px;
}
